@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
}

body {
  min-height: 100vh;                
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.landingpage {
  display: flex;
  flex-direction: column;
}

.landingpage__content {
  max-width: 712px;
  padding: 2rem;
  text-align: center;
}

.landingpage__logo {
  margin: 0 auto 40px;
  display: block;
  height: 15px;
  width: auto;
}

.landingpage__title {
  font-size: 20px;
  line-height: 1.25;
  font-weight: var(--font-weight-light);
  color: var(--color-gray-400);
}

.landingpage__title-highlight {
  color: var(--color-blue-950);
  font-weight: var(--font-weight-bold);
}

.landingpage__subtitle {
  font-size: 12px;
  line-height: 1.25;
  color: var(--color-blue-950);
  font-weight: var(--font-weight-light);
  margin-top: 12px;
}

.landingpage__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 280px;
  margin: 40px auto 80px;
}

.form__label {
  display: none;
}

.form__input {
  padding: 0 24px;
  height: 40px;
  border: 1px solid var(--color-blue-200);
  border-radius: 28px;
  font-size: 12px;
  line-height: 1.25;
  font-weight: var(--font-weight-light);
  color: var(--color-blue-950);
}

.form__input::placeholder {
  color: var(--color-blue-200);
}

.form__error-message {
  display: none;
  width: 280px;
  margin: 8px auto 24px;
  text-align: center;
  font-size: 10px;
  color: var(--color-red-400);
  font-style: italic;
}

.form__button {
  padding: 0 24px;
  height: 40px;
  border: none;
  background-color: var(--color-blue-500);
  border-radius: 28px;
  font-size: 12px;
  line-height: 1.25;
  font-weight: var(--font-weight-semibold);
  color: var(--color-white);
  cursor: pointer;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-blue-200);
  }

  &:active {
    background-color: var(--color-blue-200);
  }
}

.landingpage__illustration {
  width: 100%;
  margin-bottom: 120px;
}

.landingpage__socials {
  justify-content: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.landingpage__icon {
  color: var(--color-blue-500);
  width: 28px;
  height: 28px;
  transition: fill 0.3s ease;
  cursor: pointer;
  border: 1px solid var(--color-blue-500);
  border-radius: 50%;
  padding: 5px;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-blue-500);
  }
}

.landingpage__copyright {
  font-size: 12px;
  line-height: 1.25;
  color: var(--color-gray-400);
  font-weight: var(--font-weight-light);
  margin-top: 24px;
}

.attribution {
  margin-bottom: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .landingpage__logo {
    height: 25px;
  }

  .landingpage__form {
    flex-direction: row;
    width: 712px;
    gap: 16px;
  }

  .landingpage__title {
    font-size: 48px;
  }

  .landingpage__subtitle {
    font-size: 20px;
  }

  .form__input {
    width: 420px;
    font-size: 16px;
    height: 56px;
  }

  .form__input.error {
    border-color: var(--color-red-400);
  }

  .form__button {
    font-size: 16px;
    width: 200px;
    height: 56px;
  }

  .form__error-message {
    position: absolute;
    margin: 4px auto 0;
    text-align: left;
    font-size: 12px;
    top: 300px;
    left: 50%;
    transform: translateX(-110%);
  }
}
