@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-blue-950: hsl(209, 33%, 12%);
  --color-blue-500: hsl(223, 87%, 63%);
  --color-blue-200: hsl(223, 100%, 88%);
  --color-gray-400: hsl(0, 0%, 59%);
  --color-gray-100: hsl(0, 0%, 92%);
  --color-gray-50: hsl(225, 100%, 99%);
  --color-red-400: hsl(354, 100%, 66%);
  --color-green-500: hsl(145, 63%, 49%);

  --font-family-sans: 'Libre Franklin', sans-serif;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}